@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Inter", "Poppins";
}


/* Common Styles here */

.width-section{
    width: 100%;
    max-width: 1128px;
    margin: 0 auto;
    padding: 10px 150px;
}

.title-font{
    color: rgba(31, 31, 31, 1);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.para-font{
    color: rgba(78, 78, 78, 1);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
    /* text-align: center; */
}

.btn-common{
    margin-top: 10px;
    border: none;
    padding: 10px 25px;
    border-radius: 6px;
    background: var(--Linear, linear-gradient(180.00deg, rgba(255, 88, 155, 1),rgba(255, 19, 111, 1) 100%));
    color: white;
    
}


/* Heading Section styles */
.nav-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

/* Hero Section  */

.parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(254, 234, 233, 1);
    border-radius: 15px;
    padding: 15px 50px;
    gap: 20px;
    margin-bottom: 5px;
}

.div-content{
    width: 50%;
    max-height: 554px;
    /* margin-bottom: 5px; */

}
.hero-title{
    color: rgba(31, 31, 31, 1);
    font-size: 48px;
    font-weight: 700;

}

.money-tit{
    color: rgba(255, 19, 111, 1);
    
}

.div-img{
    width: 50%;
    max-width: 420px;
    
}
img{
    width: 100%;
}

/* Shoes section*/

.car-parent{
    display: flex;
    justify-content: center;
    align-items: center;
}

.shoe-pic{
    border: 3px solid red;
    border-radius: 5px;
    padding: 5px;

}




